<mat-nav-list>
   <div class="profile-card">
       <div class="header">
       <h2>Dashboard</h2>
   </div>
       <img src="" alt="">
   </div>
   <mat-divider></mat-divider>

   
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Post</a>

    <mat-divider></mat-divider>
    <h2 MatSubheader>Department Contacts</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        Electronics: Mike Pimball <br>
        Shoes: Carol Nkwuri <br>
        Gown:Zhee Chin
       </a>
       
  
</mat-nav-list>
