h4{
    margin-top: 0;
    margin-bottom: 5px;
}

.total{
    font-size: 40px
}

.mat-icon,
.description{
    color: green;
    font-size: 20px;
}

.mat-icon{
    position: relative;
    padding: 0 20px;
    top: 5px;
}
